.datagrid table {
 border-collapse: collapse;
  text-align: left;
   width: 100%; 
} 
.datagrid {
font: normal 12px/150% Arial, Helvetica, sans-serif; 
background: #fff; 
overflow: hidden; 
border: 1px solid #e6e7e7; 
margin-top: 2px;
}
.datagrid table td, .datagrid table th {
 padding: 5px 10px; text-align: center;
}
.datagrid table td:not(:first-child) {
	width: 15%;
}
.datagrid table thead th {
 background: #f0f0f0;
 border-left: 1px solid #e6e7e7;
 border-bottom: 1px solid #e6e7e7;
 color:#1C9EDA;
 font-size: 15px; 
 font-weight: bold; 
 padding-top: 8px;
 padding-bottom: 8px;
}
 .datagrid table thead th:first-child {
 border: none; 
 border-bottom: 1px solid #e6e7e7;
}
.datagrid table tbody tr {
	border-bottom: 1px solid #E1EEF4;
}
 .datagrid table tbody td {
 color: #6B6B6B; 
 border-left: 1px solid #E1EEF4;
 font-size: 12px;
 font-weight: bold; 
 text-align:left;
}
.datagrid table tbody td.check:hover, .datagrid table tbody td.unsupported:hover,
.datagrid table tbody .alt td.check:hover, .datagrid table tbody .alt td.unsupported:hover {
	background-color: #f0f0f0;
}
 .datagrid table tbody .alt td {
 background: #FBFBFB;
 color: #6B6B6B; 
}

.datagrid table tbody td.check {
	background-image: url('../images/check.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}
.datagrid table tbody td.unsupported {
	background-image: url('../images/unsupported.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.datagrid table tbody .indented td:first-child {
	font-style: italic;
	text-align: left;
	font-weight: normal;
	text-indent: 15px;
}
 .datagrid table tbody td:first-child {
 border-left: none; 
}
 .datagrid table tbody tr:last-child td {
 border-bottom: none; 
}
p.faq {
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	color: #353535;
	margin-top: 15px;
	margin-bottom: 5px;
}

p.faq_answer {
	font-size:12px;
	color: #353535;
}

@media only screen and (max-width:750px) { 
	.datagrid table td, .datagrid table th {
	 padding: 1px 5px; text-align: center;
	}
}
